@charset "utf-8";

*{margin:5;padding:0;}
ol,ul{margin:0;}
a{text-decoration:none;}
img{border:none;}

body{
	background:#ff9d6f;
}

#main{
	height:auto;
	width:700px;
	margin:100px auto;
}

.Question{
	background:#ffefe8;
	margin:2px;
	padding:5px 20px 50px ;
	border-top:1.5px solid #d9d9d9;
	width: auto;
	height:auto;
}

#q8list{
	margin-left:2em;
}

img{
	margin-left:20px;
	color:#b2b2b2;
}